absl-py==2.3.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.8
aioresponses==0.7.7
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.2.0
asgiref==3.7.2
astunparse==1.6.3
attrs==24.2.0
backoff==2.2.1
bidict==0.22.1
blinker==1.8.2
branca==0.8.1
Brotli==1.1.0
CacheControl==0.14.0
cachetools==5.3.3
certifi==2023.11.17
cffi==2.0.0
channels==4.0.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
contourpy==1.3.1
cryptography==46.0.1
cycler==0.12.1
dash==3.2.0
dataclasses-json==0.6.7
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.8
Django==5.0.4
django-cors-headers==3.4.0
django-fire==1.0.0
django-sass-processor==1.4.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.8.0
email-validator==2.3.0
et-xmlfile==1.1.0
fastapi==0.109.0
filelock==3.14.0
filetype==1.2.0
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.6.0
future==1.0.0
gast==0.6.0
gevent==24.11.1
geventhttpclient==2.3.3
google-api-core==2.18.0
google-api-python-client==2.126.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-speech==2.28.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
googletrans==4.0.0rc1
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.64.1
gunicorn==21.2.0
h11==0.16.0
h2==3.2.0
h5py==3.14.0
hpack==3.0.0
hstspreload==2024.6.1
htmx==0.0.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
hyperframe==5.2.0
idna==3.7
ifaddr==0.2.0
imageio==2.37.0
importlib_metadata==8.7.0
inference-sdk==0.9.17
instaloader==4.14.2
intel-openmp==2021.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.4.2
keras==3.10.0
keyboard==0.13.5
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.43.0
locust==2.33.2
Markdown==3.8
markdown-it-py==3.0.0
markdown2==2.4.10
MarkupSafe==2.1.4
marshmallow==3.23.1
matplotlib==3.9.2
mdurl==0.1.2
memory-profiler==0.61.0
mkl==2021.4.0
ml_dtypes==0.5.1
more-itertools==10.3.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
namex==0.1.0
narwhals==2.1.2
nest-asyncio==1.6.0
networkx==3.3
nicegui==1.4.12
numba==0.60.0
numpy==1.26.4
openai-whisper==20231117
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.16.0
orjson==3.9.12
packaging==23.2
pandas==2.2.2
pefile==2023.2.7
pickle-mixin==1.0.2
Pillow==10.1.0
pipenv==2024.4.0
platformdirs==4.2.2
plotly==6.3.0
postgrest==2.25.1
propcache==0.4.1
proto-plus==1.23.0
protobuf==4.25.5
pscript==0.7.7
psutil==6.1.0
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
PyDirectInput==1.0.4
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMySQL==0.9.2
pynput==1.7.7
pyparsing==3.1.2
pyperclip==1.9.0
PyRect==0.2.0
Pyro4==4.82
PyScreeze==1.0.1
pyswarm==0.6
pyswarms==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.8.2
python-http-client==3.3.7
python-multipart==0.0.6
python-socketio==5.11.0
pytweening==1.2.0
pytz==2023.3.post1
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.1
pyzmq==26.3.0
realtime==2.25.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3986==1.5.0
rich==14.0.0
roboflow==1.1.49
rsa==4.9
scikit-learn==1.3.0
scipy==1.13.0
seaborn==0.13.2
sendgrid==6.12.5
serpent==1.41
setuptools==78.1.0
shapely==2.0.3
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.4
SpeechRecognition==3.11.0
SQLAlchemy==2.0.30
sqlparse==0.4.4
srt==3.5.3
starlette==0.35.1
storage3==2.25.1
StrEnum==0.4.15
supabase==2.25.1
supabase-auth==2.25.1
supabase-functions==2.25.1
supervision==0.25.0
sympy==1.13.1
tbb==2021.12.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
threadpoolctl==3.5.0
tiktoken==0.7.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.66.4
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
ultralytics==8.3.39
ultralytics-thop==2.0.12
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.27.0
vbuild==0.8.2
virtualenv==20.26.2
vosk==0.3.45
watchfiles==0.21.0
websockets==15.0.1
Werkzeug==3.0.3
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
xyzservices==2025.4.0
yarl==1.22.0
zipp==3.23.0
zope.event==5.0
zope.interface==7.2
